form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input.ng-touched.ng-invalid{background-color: red;} 

input.ng-valid{background-color: green;}
